// Header demo styles.
// ---------------------------------------


.header {
  background-color: darken($backgroundColour, 4%);

  h2 {
    text-align: center;
  }
}

.header__inner {
  @include clearfix;

  margin: 0 auto;
  position: relative;
  width: 96%;

  @include breakpoint(break-3) {
    @include maxwidth(2);
  }
}

.header__image {
  padding: 2rem 1rem;

  img {
    border-radius: 0.15rem;
  }
}

.meta {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
