.toc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  @include fontsize(theta, all);
  font-kerning: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  a, a:focus {
    background-image: none;
    color: lighten($bodyColour, 30%);
    font-weight: bold;
    text-shadow: none;

    &:hover {
      background-image: none;
      color: $bodyColour;
      text-shadow: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    @include fontsize(iota, all);

    li {
      margin-left: 0.5rem;
      line-height: 2.5;
    }

    a, a:focus {
      font-weight: normal;
    }
  }
}

// dynamically added via jQuery
.toc.is-mobile {
}

.toc.is-desktop {
  position: relative;
}

.toc.is-desktop.is-fixed {
  position: fixed;
  top: 4rem;
}
